@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin:0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins" , sans-serif;
}
:root{
  --background-color:#b4d9f9;
  --text-color:white;
  --button-color:#3db2c4;
  --container-color:rgb(255, 255, 255);
  --button-color-pressed:#3d73c4;
  --p-color:#585757;
  --panel-color:#5fa1fd;
}
body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;

}
.container{
    display: flex;
    border-radius: 8px;
    width:fit-content;
    height:60vh;
   
    background-color: var(--container-color);
    box-shadow: 0 0 20px rgb(131, 131, 131);
}
h2{
    margin: 0 auto;
}
form{
    margin:auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
input{
    max-width: 95%;
margin:10px;
padding: 10px;
border-radius: 3px;
}
.btn {
    margin: 0 auto;
    padding: 10px;
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 5px;
   border:none;
   width:80%;
   transition: 0.5s ease;
}
.btn:hover{
    transform: scale(1.01);
   background-color: var(--button-color-pressed);
}
p{
    font-size: 14px;
    color:var(--p-color);
    
    margin: 6px auto;
}
a:hover{
    text-decoration:underline;
}

.panel {
    background-color: var(--panel-color);
    display: flex;
    border-radius: 20%;
    /* justify-content: center; */
    flex-direction: column;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    min-width: max-content;

}
.panel .content h2 {
    
   margin: 40% 0 0 20%;
}
.panel p{
    padding: 0 8px 0 8px;
}
